name: Slack Notification with Script

on:
  workflow_dispatch:
    inputs:
      pr_number:
        description: "Enter PR number"
        required: true
        type: string

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x scripts/get_deployment_info.sh

      - name: Run PR Info Script
        id: prinfo
        run: |
          ./scripts/get_deployment_info.sh \
            "TheNameIsWin/RV" \
            "${{ inputs.pr_number }}" \
            "${{ secrets.PAT_TOKEN }}"

      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
              "text": "Deployment Info: ${{ steps.prinfo.outputs.pr_title }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
